*{
    margin: 0 auto;
}
body{
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: #CCD5AE;
    color:rgb(9, 124, 86);
    height: 55px;
}
h2{
    float: left;
    padding: 18px 9px;
    font-size: 30px;
    
}
.header_list li{
    list-style: none;
    float: left;
    padding: 24px 14px;
}

.main{
    background-color: #E9EDC9;
    height: 350px;
}
.main-wrapper h1{
    padding-top: 45px;
    font-size: 75px;
    text-align: center;
    color: #94AF9F;
}
span{
    color: #5D9C59;
    font-size: 75px;
}
.main-wrapper h4{
    text-align: center;
    padding-top: 10px;
    color: #AEC2B6;
    font-size: 24px;
}
.main-wrapper img{
    margin: 0 auto;
    padding-left: 45%;
    height: 100px;
    width: 100px;
}

footer{
    background-color: #FEFAE0;
    height: 100px;
}
