*{
    margin: 0 auto;
}
body{
    font-family: 'Courier New', Courier, monospace;
    width: 75%;
}

header{
    background-color: #CCD5AE;
    color:rgb(9, 124, 86);
    height: 55px;
}
h2{
    float: left;
    padding: 18px 9px;
    font-size: 30px;
    
}
.header_list li{
    list-style: none;
    float: left;
    padding: 24px 14px;
}

.main{
    padding: 4px;
}
.main-wrapper{
    background-color: hsl(67, 50%, 86%);
    height: 350px;
}
.main-wrapper h1{
    padding-top: 45px;
    font-size: 75px;
    text-align: center;
    color: #94AF9F;
}
span{
    color: #5D9C59;
    font-size: 75px;
}
.main-wrapper h4{
    text-align: center;
    padding-top: 10px;
    color: #AEC2B6;
    font-size: 24px;
}
.main-wrapper img{
    margin: 0 auto;
    padding-left: 45%;
    height: 100px;
    width: 100px;
}
.content-wrapper{
    margin: 0 auto;
    height: 150px;
    text-align: center;
    background-color: #DBE4C6;
    padding-top: 24px;
    color: #223d2d;
}
.content-wrapper h4{
    padding-bottom: 8px;
}
.content-wrapper p{
    box-sizing: border-box;
    width: 60%;
}
.content{
    height: 250px;
    background-color: hsl(67, 50%, 86%);
}
.content-image{
    display: flex;
}
.image-units{
    text-align: center;
    margin-top: 45px;
    margin-left: 20px;
}
.image-units img{
    width: 25%;
}
.content-title{
    margin: 2px;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
}

/* Bagian Formulir & Footer */
section {
    box-sizing: border-box;
    background-color: hsl(67, 50%, 86%);
    height: 300px;
    margin-top: 2px;
}
section h3 {
    font-size: 24px;
    color: #007a41;
    text-align: center;
}
.form-contact {
    margin: 8px;
    padding-bottom: 4px;
    color: #708cd6;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
#btn-submit {
    background-color: #7ba87d; /* Green */
    border: none;
    color: #f6f8f0;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
#btn-submit:hover {
    background-color: #077386;
    color: #d8d50b;
}
input{
    resize:none;
    width:300px;
    height:30px;
    border-radius: 8px;
}
textarea{
    resize:none;
    width:300px;
    height:50px;
    border-radius: 8px;
}

footer{
    background-color: #FEFAE0;
    height: 100px;
}
footer h2{
    font-size: 24px;
    padding-left: 8px;
}
.footer-list {
    float: right;
    margin: 16px;
}
.footer-list li{
    list-style: none;
    padding-top: 4px;
}